html {
  font-size: 14px;
}
@font-face {
  font-family: 'PoppinsMedium';
  src: url('/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TTForsRegular';
  src: url('/fonts/TT-Fors-Display-Trial-Regular-BF668e752e6ec58.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TTNormsBold';
  src: url('/fonts/TTNorms-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'FrauncesSemiBold';
  src: url('/fonts/f1.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'MontserratSemiBold';
  src: url('/fonts/m1.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'TTNormsRegular';
  src: url('/fonts/t2.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'TTForsTrialBold';
  src: url('/fonts/t1.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  overflow: hidden;
}